<!DOCTYPE html>
<html>
<head>
  <title>Markitmine api</title>
  <%= stylesheet_link_tag    "markitmine_api/application", media: "all" %>
  <%= javascript_include_tag "markitmine_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
