@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);


$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$mukta: 'Ek Mukta', sans-serif;;

$menuItems: 7;

body {
    margin: 0;
    line-height: 1.4;
    background: #E1E1E1;
}
.window {
    position: relative;
    display: block;
    .header {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        overflow: hidden;
        transition: all 0.5s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
        z-index: 1;
        .burger-container {
            position: relative;
            display: inline-block;
            height: 50px;
            width: 50px;
            cursor: pointer;
            transform: rotate(0deg);
            transition: all 0.3s $cubic;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            #burger {
                width: 18px;
                height: 8px;
                position: relative;
                display: block;
                margin: -4px auto 0;
                top: 50%;
                .bar {
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: relative;
                    background: #FFF;
                    transition: all 0.3s $cubic;
                    transition-delay: 0s;
                    &.topBar {
                        width: 50%;
                        transform: translateY(0px) rotate(0deg);
                    }
                    &.midBar {
                        transform: translateY(3px) rotate(0deg);
                    }
                    &.btmBar {
                        width: 50%;
                        transform: translateY(6px) rotate(0deg);
                    }
                }
            }
        }
        .icon {
            display: inline-block;
            position: absolute;
            height: 100%;
            line-height: 50px;
            width: 50px;
            height: 50px;
            text-align: center;
            color: #FFF;
            font-size: 22px;
            left: 50%;
            transform: translateX(-50%);
            img {
              width: 40px;
              margin-top: 10px;
            }
            &.icon-add {
                right: 80px;
                top: 0;
                left: auto;
                transform: translateX(0px);
                transition: transform 0.5s $cubic;
                transition-delay: 0.65s;
            }
            &.icon-bag {
                right: 0;
                top: 0;
                left: auto;
                transform: translateX(0px);
                transition: transform 0.5s $cubic;
                transition-delay: 0.65s;
            }
        }
        ul.menu {
            position: relative;
            display: block;
            padding: 0px 48px 0;
            list-style: none;
            li.menu-item {
                border-bottom: 1px solid #333;
                margin-top: 5px;
                transform: scale(1.15) translateY(-30px);
                opacity: 0;
                transition: transform 0.5s $cubic, opacity 0.6s $cubic;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.56 - ($i * 0.07)}s;
                    }
                }
                a {
                    display: block;
                    position: relative;
                    color: #FFF;
                    font-family: $mukta;
                    font-weight: 100;
                    text-decoration: none;
                    font-size: 22px;
                    line-height: 2.35;
                    font-weight: 200;
                    width: 100%;
                }
            }
        }
        &.menu-opened {
            height: 100%;
            background-color: #000;
            transition: all 0.3s ease-in, background 0.5s ease-in;
            transition-delay: 0.25s;
            .burger-container {
                transform: rotate(90deg);
                #burger {
                    .bar {
                        transition: all 0.4s $cubic;
                        transition-delay: 0.2s;
                        &.topBar {
                          width: 100%;
                          transform: translateY(4px) rotate(45deg);
                        }
                        &.midBar {
                          display: none;
                          transform: translateY(0px) rotate(0deg);
                        }
                        &.btmBar {
                            width: 100%;
                            transform: translateY(3px) rotate(-45deg);
                        }
                    }
                }
            }
            ul.menu {
                li.menu-item {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                    @for $i from 1 through $menuItems {
                        &:nth-child(#{$i}) {
                            transition-delay: #{0.07 * $i+0.2}s;
                        }
                    }
                }
            }
            .icon {
                &.icon-bag {
                    transform: translateX(75px);
                    transition-delay: 0.3s;
                }
            }
        }
    }
    .content {
        font-family: $mukta;
        padding: 67px 4% 0;
        text-align: justify;
        overflow: scroll;
        max-height: 100%;
        &::-webkit-scrollbar  {
            display: none;
        }
        h2 {
            margin-bottom: 0px;
            letter-spacing: 1px;
        }
        img {
            width: 95%;
            position: relative;
            display: block;
            margin: 75px auto 75px;
            &:nth-of-type(2) {
                margin: 75px auto;
            }
        }
    }
    @media(max-width: 600px) {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0px;
        .header {
            position: fixed;
        }
    }
}
.user-profile-image {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MS41IDEwMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNkNmQ2ZDY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT51c2VyX3Byb2ZpbGVfbGlnaHQ8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTEwLjMsODkuNEMxMi43LDk4LjIsNDEuMSwxMDAsNDguNSwxMDBoMi45YzcuNCwwLDM1LjgtMS44LDM4LjItMTAuNiw0LjctMTguOC02LjMtMjMuMy0xNi4xLTI3LjItMS40LS42LTQuMi0xLjctNC4yLTEuN2ExNC42NywxNC42NywwLDAsMS0zLjctMi40bC0yLjQtMi4yYy0wLjktLjktMS44LTAuNi0yLjEuNkw1MC42LDkwLjhDNTAuMiw5MiwzOC43LDU2LjQsMzguNyw1Ni40Yy0wLjItMS4yLTEuMi0xLjQtMi4xLS43TDM0LDU4LjFhMTAuMjksMTAuMjksMCwwLDEtMy43LDIuNHMtMi42LDEtNCwxLjZDMTYuNyw2Ni4xLDUuNyw3MC43LDEwLjMsODkuNFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05LjIyIDApIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMzAuMywyNi45YTIyLjI0LDIyLjI0LDAsMCwwLDEuMSw1LjdBNS45LDUuOSwwLDAsMCwzNCwzNS40YTMzLjg5LDMzLjg5LDAsMCwwLC44LDMuOWMxLjEsNCw2LjgsMTMsMTQuMSwxMy4zaDJjNy4zLS4xLDEzLjItOS4zLDE0LjMtMTMuM2EzMy44OSwzMy44OSwwLDAsMCwuOC0zLjksNS40Niw1LjQ2LDAsMCwwLDIuNi0yLjgsMjkuMTcsMjkuMTcsMCwwLDAsMS4xLTUuN2MwLjMtMy0uOC00LjgtMC45LTQuOEM3MCw5LjksNjYuMSw3LjUsNjMuNiw3LjFhNC40NSw0LjQ1LDAsMCwxLTIuOS0xLjJjLTEuNC0xLjYtMi4xLTMuMy00LjYtMy4yYTQuMzYsNC4zNiwwLDAsMS0yLjktLjljLTEtLjktMi4zLTEuOC0zLjMtMS44cy0yLjIuOS0zLjEsMS43YTQuMiw0LjIsMCwwLDEtMi45LjljLTIuNi0uMS0zLjEsMS43LTQuNiwzLjJBNi4yLDYuMiwwLDAsMSwzNi40LDdjLTIuNi40LTYuNCwyLjktNS4yLDE1QzMxLDIyLjEsMzAsMjMuOSwzMC4zLDI2LjlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOS4yMiAwKSIvPjwvc3ZnPg==");
    border-radius: 50%;
}

.user-cardimg-placeholder{
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}
.white-popup-block {
  width: 50%;
  max-width: 640px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    color: #FFF !important;
  }
}
.frame {
  padding: 10px;
  background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://kuulpeeps.com/wp-content/uploads/2017/08/michael-jackson-xscape_wide-8d509ce1a8ad782dfc5b0e351a7d0deb3e844638.jpg) no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: all .5s ease;
  h1 {
    color: #fff;
    text-align: center;
  }
}
.form-styling {
  width: 100%;
  height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

:focus {outline: none;
}

.btn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding-top: 8px;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(16,89,255, 1);
  left: 0px;
  top: 0px;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}
.btn-signin {
  float: left;
  padding-top: 8px;
  width: 100%;
  height: 35px;
	border: none;
  color: #FFF;
	border-radius: 20px;
  margin-top: -8px;
}



.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
